#body {
    margin-bottom: 70px;
}

.dot {
    height: 120px;
    width: 120px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
}

.fa-icon {
    margin-top: 26% !important;
    font-size: 60px;
}

.carousel-bg {
    background-color: #777777;
}

.footer-bg {
    background-color: #444444;
}

.footer-height {
    height: 100px;
}